@use '@angular/material' as mat;
@use '../src/assets/variables/colors.scss';
@import 'bootstrap/dist/css/bootstrap.min.css';

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$cyan-palette,
        tertiary: mat.$orange-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: colors.$grey;
  color: #111827;
  margin: 0;
}

h1,
h2 {
  color: colors.$red;
}

button {
  background-color: colors.$green;
  color: colors.$white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: colors.$dark-green;
}
